@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700&display=swap");
html {
    min-height: 100vh;
}

.root-main {
    background: #000;
    height: 100vh;
    width: 100vw;
}

.root-balance {
    width: 100%;
    height: 40vh;
}
